@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
.poppins {
  font-family: "Poppins", sans-serif;

}
.openSans {
  font-family: "Open Sans", sans-serif;

}

.poppins-extralight {
  font-family: "Poppins", sans-serif;

}


  h1 {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 600;
  }
  h2 {
    font-family: "Poppins";
    font-size: 20px;
  }
  h3 {
     
  }
  p {
     
  }
  span {
    
  }

